spring:
  jpa:
    show_sql: true
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL57Dialect
        storage_engine: innodb
#  datasource:
#    hikari:
      #      jdbc-url: jdbc:h2:tcp://localhost/~/zerowaste;MODE=MYSQL
      #      username: sa
      #      password:
#      jdbc-url: jdbc:h2:mem://localhost/~/testdb;MODE=MYSQL
#      driver-class-name: org.h2.Driver
  profiles:
    include: oauth
  session:
    store-type: jdbc
    jdbc:
      initialize-schema: always